*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.space{
    padding: 0 50px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
}
.top__svg a{
    display: inline-block;
    padding: 3px 8px 3px 0;
}
.top__svg{
    justify-content: space-between;
    margin: 0 10px;
}
.top-nav__item{
    display: inline-block;
    color: #000;
    font-size: 12px;
    text-decoration: none;
    padding: 0 10px;   
}
.top-nav__item:nth-child(1), .top-nav__item:nth-child(2){
    border-right: 1.5px solid #000;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.header__menu{
display: inline-block;
color:#000 ;
font-size: 15px;
text-decoration: none;
padding: 0 10px;
margin-left: 5px;
}
.header__nav{
    margin-left: 190px;
}
.header__svg a{
    display: inline-block;
    margin: 0 5px;
}
.right{
    display: flex;
    text-align: center;
    align-items: center;
}
.content {
display:inline-block;
background-color: #f5f5f5;
font-size: 14px;
display: flex;
align-items: center;
flex-direction: column;
padding: 8px;
}
.content a{
    font-size: 11px;
    margin-top: 8px;
}
.search{
    margin-right: 20px;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 5px 10px;
    border-radius: 20px;
    width: 180px;
    height: 38px;
}
.search input{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 3px;
}
.search input::placeholder{
    color: #0003;
    font-size: 1.1em;
}
.search img{
    height: 1.5em;
}
.main img{
    width: 100%;
}
.collection {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    text-align: center;
    padding: 50px 0;
    font-weight: bolder;
    margin-bottom: 100px;
    text-decoration: none;
}
.collection h1{
    text-decoration: none;
}
.collection h2 a {
    display: inline-block;
    font-size:  16px;
    padding: 20px; 
    font-weight: 400;
    color: #000;
    text-decoration: none;
    
}
.icon_items a {
    background-color: black;
    color:white;
    border-radius: 20px;
    border: 1,5px solid #000;
    padding: 10px 20px;
    margin-top: 100px;
    font-size: 15px;
    text-decoration: none;
    width: 100vw;
    height: 70vh;


}
.next_page p, .section_six p {
    font-size: 24px;
    font-weight: 500;
    padding: 10px 0;
}
.children{
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 150px 0 20px 0;
}
.child_title{
    font-size: 3.5em;
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    line-height: .8em;
    display: inline-block;
    margin: 30px;    
}
.child_link{
    color: #fff;
    text-decoration: none;
    margin: 5px 30px;
}
.buttons{margin: 20px 30px;}
.buttons a {
    display: inline-block;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    padding: 10px 30px;
    border-radius: 20px;
}
.opocity:hover, .section_5 .opocity:hover{
    opacity: .5;
}
.section_two p{
    font-size: 25px;
    margin: 20px 0;

}
.section_svg img {
width: 570px;
height: 400px;
display: inline-block;

}
.section_svg{
    display: flex;
    justify-content: space-between;

}
.cards {
    display: flex;  
    justify-content: space-between;
}
.card {
    width: 45vw;
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 35px;
    background-size: cover;
}
.dark{
    background-image: url(images/nike-just-do-it.jpg);   
}
.light{
    background-image: url(images/nike-just-do.jpg);
    color: #fff;
}
.card_text{
    font-size: 1.5em;
}
.card_button{
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 20px;
    width: fit-content;
    margin-top: 20px;
}
.light a{
    background-color: #000;
    color: white;
}
.dark a{
    background-color: #fff;
    color: #000;
}
.section_three p , .section_four p {
    font-size: 1.5em;
    padding: 30px 0;
}
.cards_two {
    display: flex;
    justify-content: space-between;
    
}
.image img {
    width: 380px; 
}
.image_inf a{
    display: flex;
    justify-content: space-between;
    color: #000;
    text-decoration: none;
}
.extra_inf a{
    padding-top: 5px;
    display: inline-block;
    color: #000;
    opacity: 40%;
   text-decoration: none; 
}


.section_5 {
    display: flex;  
    justify-content: space-between;
    
}
.card1 {
    width: 55vw;
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 35px;
    background-size: cover;
    
    
}
.first_card {
    background-image: url(images/section4.jpg); 
    margin: 10px 10px 10px 50px;
}
.second_card {
    background-image: url(images/nike-just-do-it\ .jpg); 
    margin: 10px 50px 10px 0;
}
.card_text1{
    font-size: 1.5em;
    color: #fff;
    
    
}
.card_text1 a {
    margin-top: 10px;
    display:flex;
    
    text-decoration: none;
    color: #000;
    border-radius: 20px;
    background-color: #fff;
    width: fit-content;
    font-size: 18px;
    padding: 10px 15px;
    
} 
.button_card {
    display:flex ;
    
}
.button_card a{
    margin-left: 10px;
}

.card_new a{
    margin: 10px 5px;
}
.card_new img{
    display: inline-block;
    width: 370px;
    height: 450px 
}
.card_new_text a{
    text-decoration: none;
    color: #000;
    margin:10px 150px;
    font-size: 20px;
    padding: 10px 0;
}
.section_seven p {
    font-size: 24px;
    font-weight: 500;
    padding: 10px 0;
    margin: 100px 0 10px 0;
}
.overlay_content {
   
    justify-content: center;
    background-image: url(images/overlay_content.png);
    margin: 20px 50px;
    background-size: cover; 
    padding: 70px 150px 20px 300px;
    
}
.overlay_button a{
   display: inline-block;
   text-decoration: none;
   color: #fff;
   background-color: #000;
   padding: 10px 30px;
   border-radius: 20px;
   margin-bottom: 20px;  
}
.overlay_content span{
    padding-left: 130px;
    
}
.overlay_content h4{
    font-weight: 200;
    opacity: 90%;
    padding-bottom: 20px;
    
}
.first_button{
    margin-left: 180px;
}

.section_eight img{
    display: inline-block;
    width: 379px;
    height: 300px;
    margin-top: 30px;
    margin-right: 5px;
}
.image_text1 a{
    display: inline-block;
    flex-direction:column ;
    text-decoration: none;
    color: #000;
    margin: 15px 60px 30px 60px;
    font-size: 20px;
}


.footer{
    display: flex;
    
    color: white;
    background-color: #000;
    padding: 30px 20px;
    

}
.svg_section img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: white;
    padding: 5px; 
    opacity: 50%;  
}
.svg_section {
    margin-left: 490px;
}
.svg_section a{
    text-decoration: none;
    margin-right: 5px;
}

.footer_nav a{
    display: flex;
    margin:0 10px;
    text-decoration: none;
    color: white; 
    font-family: sans-serif;
    font-weight: 900; 
    font-size: 11px; 
    padding: 3px 0;
}
.footer_nav li{
    list-style: none;
}
.footer_opacity li{
    list-style: none;
}
.footer_opacity a{
    display: flex;
    opacity: 40%;
    font-size: 12px;
    padding: 3px 10px;
    text-decoration: none;
    color: #fff;
}
.footer_bottom{
    background-color: #000;
    color: #fff;
    border-top:0.3px solid gray 
    
}
.footer_bottom div{
    display: inline-block;
    padding: 15px 5px 10px 10px;
      
}
.footer_bottom_svg img{
    background-color: white;
    color: #fff;
    display: inline-block;
    margin: 0 10px;
}
.footer_bottom_svg a{
    text-decoration: none;
    color: #fff;
    font-size: 11px;
}
.footer_bottom_inf p{
    font-size: 11px;
    opacity: 50%;
    padding-right: 380px;
}
.footer_bottom_nav a{
    text-decoration: none;
    color: #fff;
    font-size: 11px;
    opacity: 50%;
    padding-left: 20px;
}
.opacity:hover, .opacity:hover img, .opacity:hover a{
    opacity: 100%;
}




